<!-- extend base layout -->
{% extends "layout.html" %}

{% block head %}
{{ super() }}
<meta name="csrf-token" content="{{ csrf_token() }}">
{% endblock %}
{% block title %}Start a CloVR VM{% endblock %}
{% block sidebar %}
<div id="overlay"></div>
<div id="overlay_center"></div>
{{ super() }}
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md12">
        <div class="alert alert-danger alert-dismissable fade in" id="start-error" style="display:none;">
                <button type="button" class="close">×</button>
        </div>
    </div>
</div>

<div id="page-wrapper">
    <div class="row border-bottom">
        <nav class="nav navbar-static-top">
        <br />
        </nav>
    </div>
    <div class="row fix-margin wrapper border-bottom white-bg page-heading">
        <div class="col-lg-9 fix-padding">
           <h2>Start a CloVR VM on EC2</h2>
        </div>
    </div>    
    <div class="row border-bottom"><br /></div>
        <div class="row fix-margin border-bottom white-bg spacer-top">
            <div class="col-lg-12 launch-ec2">
                <div class="ec2-text">
                    <span>
                        <img alt="EC2 logo" id="ec2_logo" src="{{ url_for('static', filename='img/ec2-logo-transparent.png') }}">
                    </span>
                    <p class="small">The CloVR Launcher client allows users to launch CloVR VM's on EC2 easily without having to access Amazon's AWS dashboard. The launcher will always start the latest VM on an m1.xlarge instance type (8 CPU cores and 16GB of RAM) unless another version of CloVR or another instance type is selected from the "More Options" sub-menu.</p>
                    <p class="small spacer-bottom">Upon starting the VM the Launcher's monitor functionality will take several seconds to minutes to refresh the list of running instances so that the new instance is visible. This instance should be identifiable by its state being set at <strong>"pending."</strong> Any VM's started via the CloVR Launcher are not terminated unless explicitly done so through the Manage VM's page.</p>

                    <div class="text-center">
                        <button class="button clovr-start" data-toggle="modal" data-target="#ec2-warn-launch">Launch CloVR</button>
                    </div>
                    <div class="text-center">
                        <small><u class="dotted"><a class="toggle" href="#vm_options">More options</a></u></small>
                    </div>
                    <form id="vm_start_form">
                        <div id="vm_options" class="hidden center-block text-center">
                            <label for="ami_select">Select VM Image</label>
                            <select id="ami_select" name="ami_id" class="form-control">
                                <option>Loading...</option>
                            </select>

                            <label for="instance_type_select">Select Instance Type</label>
                            <select id="instance_type_select" name="instance_type" class="form-control">
                                <option value="m1.xlarge">m1.xlarge (8 CPUs / 16GB RAM)</option>
                                <option value="m2.xlarge">m2.xlarge (8 CPUs / 32GB RAM)</option>
                                <option value="m4.xlarge">m4.xlarge (4 CPUs / 128GB RAM)</option>
                                <option value="c2.large">c2.large (16 CPUs / 8GB RAM)</option>
                            </select>
                    </form>
                    </div>
                </div>                        
            </div>
        </div>            
    </div>
</div>
{% endblock %}

{% block jsimport %}
{{ super() }}
<script src="{{ url_for('static', filename='js/clovr_launcher_start.js') }}"></script>
{% endblock %}

