<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    {% block head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/clovr-launcher.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/chardinjs.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-dialog.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dataTables.bootstrap.min.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}"/>

        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

        <title>CloVR-Launcher - {% block title %}{% endblock %}</title>
    </head>
    {% endblock %}
    
    <body>
        {%  block sidebar %}
        <div id="wrapper">
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <a href="#">
                            <img alt="clovr logo" class="clovr-logo" src="{{ url_for('static', filename='img/logo-transparent.png') }}">
                        </a>
                    </li>
                    <li>
                        <a href="{{ url_for('vm.start_vm') }}"><i class="fa fa-fw fa-cloud"></i>Start a CloVR VM</a>
                    </li>
                    <li>
                        <a href="{{ url_for('vm.manage_vms') }}"><i class="fa fa-fw fa-bar-chart-o"></i>Manage VM's</a>
                    </li>
                    <li>
                        <a href="{{ url_for('public.logout') }}"><i class="fa fa-fw fa-sign-out"></i>Exit</a>
                    </li>
                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            {% block content %}{% endblock %}
            <!-- End Page Content -->
        </div>
        {% endblock %}
        <!-- /#wrapper -->

        {%  block nosidebar %}{% endblock %}

    </body>

    {% block jsimport %}
    <!-- JQuery -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

    <!-- JQuery Data Tables -->
    <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Bootstrap Data Tables -->
    <script src="{{ url_for('static', filename='js/dataTables.bootstrap.min.js') }}"></script>

    <!-- Bootstrap Dialog -->
    <script src="{{ url_for('static', filename='js/bootstrap-dialog.min.js') }}"></script>

    <!-- Chardin -->
    <script src="{{ url_for('static', filename='js/chardinjs.min.js') }}"></script>
        
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    {% endblock %}
</html>
